/*Creado con Ardora - www.webardora.net
bajo licencia Attribution-NonCommercial-NoDerivatives 4.0 International (CC BY-NC-ND 4.0)
para otros usos contacte con el autor*/
@font-face {font-family: "Ardora_arrows";src: url("fonts/ardoraArrows/Ardora_arrows.eot");src: local("?"), url("fonts/ardoraArrows/Ardora_arrows.woff") format("woff"),
url("fonts/ardoraArrows/Ardora_arrows.ttf") format("truetype"), url("fonts/ardoraArrows/Ardora_arrows.svg") format("svg");font-weight: normal;font-style: normal;}
.ui-corner-all{ -webkit-border-radius: 4px; border-radius: 4px;}
body{background-color:#FFFFFF;}
#ardoraMain{ font-family:Tahoma, Geneva, sans-serif; position: relative;}
#ardoraEnu{ font-size: 16px; position: relative; padding: 5px; font-family:Tahoma, Geneva, sans-serif;text-align: left;}
#bottomBar{width: 100%; position: fixed; bottom: 50px; margin-bottom:-50px;padding-left: 15px 15px 0 15px;border-top-color:black;border-top-style:solid;border-top-width:1px;background-color:rgba(255,255,255,1);box-shadow: 0px -4px 2px 0px rgba(50, 50, 50, 0.5);}
#bottomBar p{width: 25px; padding: 0 0 5px 0; margin: 5px;  text-align: center;}
.butfont{ height:20px; font-family:"Ardora_arrows",Sans-Serif; font-size: 20px; cursor: pointer; border:1px #666;border-style:solid;color:#000000;background-color:#FFFFFF;
opacity:1;box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.5); border-radius: 4px; margin-right: 5px;}
.butfont:hover{box-shadow: 0px 0px 0px rgba(50, 50, 50, 0.5); color:#FFFFFF; background-color:#000000;}
.butRi{float: right;}
.butLe{float: left;}
.submenu{width:190px;}
ul#nav, ul#nav ul {margin:0;padding:0;list-style:none;z-index:100;}
ul#nav {position:relative;}
ul#nav li ul li a{width:100%;}
#nav li ul{position: absolute;left:0px;bottom:40px;margin-left:-999em;width:200px;padding:5px;
border-bottom-style:none;border-top-color:black;border-top-style:solid;border-top-width:1px;border-right-color:black;border-right-style:solid;border-right-width:1px;border-left-color:black;border-left-style:solid;border-left-width:1px;
box-shadow: 2px -2px 2px rgba(50, 50, 50, 0.5);border-radius: 4px;background-color:rgba(255,255,255,1);}
#nav li ul ul {position: absolute;left:100%;left:0px;bottom:40px;: 0;}
ul#nav li a {display:block;text-decoration:none;color:#000000;text-align:left;
font-family:Tahoma, Geneva, sans-serif;font-size:14px;padding: 3px 3px 3px 5px;
opacity:1;box-shadow: 2px -2px 2px rgba(50, 50, 50, 0.5); border-radius: 4px;}
ul#nav li li {clear:left}
#nav li.current a, #nav li:hover a, #nav li.over a, #nav li:hover li:hover a, #nav li.over li.over a, #nav li:hover li:hover li:hover a, #nav li.over li.over li.over a, #nav li:hover li a:hover, #nav li.over li a:hover, #nav li:hover li:hover li:hover a:hover, #nav li.over li li a:hover, #nav li:hover li:hover li:hover li:hover a:hover, #nav li.over li.over li.over li.over a:hover {box-shadow: 2px -2px 2px rgba(50, 50, 50, 0.5);
color:#FFFFFF; background-color:#000000;}
#nav li:hover li a, #nav li.over li a, #nav li:hover li:hover li a, #nav li.over li.over li a, #nav li:hover li:hover li:hover li a, #nav li.over li.over li.over li a {box-shadow: 0px 0px 0px rgba(50,50,50,0.5);
background-color:#FFFFFF;color:#000000;}
ul#nav li:hover ul ul, ul#nav li:hover ul ul ul, ul#nav li.over ul ul, ul#nav li.over ul ul ul {margin-left:-999em;}
ul#nav li:hover ul, ul#nav li li:hover ul, ul#nav li li li:hover ul, ul#nav li.over ul, ul#nav li li.over ul, ul#nav li li li.over ul {margin-left:0;}
#buttonUp{height:40px !important;position:relative;float:left;}
#idVideo{margin-top:-10px;margin-left:-20px;position:absolute;text-align:justify;top:50%;left:50%;}
#txtBar{width:  calc(100% - 15px); position: fixed; bottom: 0px; color: #cc0000; margin-bottom:-230px;border-color:black;border-top-style:solid;border-top-width:1px;margin-left: 5px;margin-right:5px; border-color:black; border-width:1px;border-top-left-radius: 4px; border-top-right-radius: 4px; border-top-style:solid;border-left-style:solid;border-right-style:solid;background-color:rgba(255,255,255,1);box-shadow: 2px -2px 2px 0px rgba(50, 50, 50, 0.5);overflow: hidden;height:210px;overflow-y:scroll;}
#txtBar p{font-family:Tahoma, Geneva, sans-serif;color:#000000; font-size:12px; margin:10px;text-align:justify}
#idVideo p{font-family:Tahoma, Geneva, sans-serif;color:#000000; font-size:12px;text-align:justify}
