#ardoraMain{ font-family:Tahoma, Geneva, sans-serif;background-color:#FFFDFD; position: relative;}
#ardoraEnu{ font-size: 16px; position: relative;text-align: justify;}
#ardoraAct{text-align: center;}
